<!DOCTYPE html>
    <html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
                <link rel="stylesheet" type="text/css" href="../css/styles.css">
                <title>Purchase | <%= eachItems.staffId %></title>
        </head>
        <body>
<!--To view all products-->
                    <div class="container">
                        <h3 class="text-center">View all Products</h3>
                                <blockquote>Each product is attached with the user who uploaded for identification and sales purposes</blockquote>
                                        <div class="row">

                                                <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                    <th scope="col">#</th>    
                                                                    <th scope="col">Time Created</th>
                                                                    <th scope="col">Product ID</th>
                                                                    <th scope="col">Staff</th>
                                                                    <th scope="col">Product Name</th>
                                                                    <th scope="col">Cat</th>
                                                                    <th scope="col">Size(kg)</th>
                                                                    <th scope="col">Qty</th>
                                                                    <th scope="col">To View</th>
                                                            </tr>
                                                        </thead>
                                                        <ul>
                                                                <% let i = 0 %>
                                                                <% for (let eachItem of eachItems) { %>            
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td> <%= i++ %></td>
                                                                                        <td> <%= eachItem.createdAt %></td>
                                                                                        <td> <%= eachItem._id %></td>
                                                                                        <td> <%= eachItem.itemStaff %></td>
                                                                                        <td> <%= eachItem.itemName %></td>
                                                                                        <td> <%= eachItem.itemCategory %></td>
                                                                                        <td> <%= eachItem.itemSize %></td>
                                                                                        <td> <%= eachItem.itemQty %></td>
                                                                                        <td> <a href="/<%= eachItem.id %>/show">View</a> </td>
                                                                                </tr>
                                                                        </tbody>
                                                                <% }%>
                                                        </ul>
                                                </table>
                                        </div>
                                </div>








                <script language="javascript" type="text/javascript" src="../js/bootstrap.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </body>
    </html>